#video-out {
  position: fixed;
  right: 0;
  bottom: 0;
  border: solid 1px black;
}

#video-src {
  position: fixed;
  left: 0;
  top: 0;
  border: solid 1px black;
}

#video-temp {
  display: none;
}

body {
  background-color: #888;
}